body {
    font-family: "Roboto", sans-serif;
    font-style: italic;
    max-width: 1024px 920px;
    background-image: linear-gradient(to top right, #117f09, #0d6007, #084005, #042002, #000000);
}

header {
    padding: 10px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;


}

header h1 {
    font-size: 100px;
    font-weight: 900;
    color: white;
}

nav {
    position: absolute;
    top: 56px;
    right: 150px;
}

nav li {
    color: white;
    display: inline;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

li {
    border-color: black;

}



main {
    width: 100%;

}

.div-principal {
    width: 100%;
    margin: 0 auto;
    display: block;
}



.picture-perfil {
    display: inline-flex;
    position: absolute;
    max-width: 200px;
    margin: 6% 0 10% 77%;

}


footer {
    text-align: center;
    border-radius: 1px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
}

.info-principal {
    color: white;
    background-color: blue;
    position: absolute;
    margin: 50px 20px;
    font-size: 40px;
    width: 28em;


}

.info-principal h4 {
    background-color: rebeccapurple;

}


.redes {
    display: inline-block;
    margin: 300px 0 100px 93%;
    width: 40px;
}

.skills {
    display: inline-block;
    margin: 90px 0 36.7px;
}